body {
  font-family: Verdana;
}

.container {
  text-align: center;
}

button {
  padding: 1% 0;
  width: 50%;
  border: none;
  border-radius: 8px;
  background-color: orange;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

a,  a:visited {
  font-weight: bold;
  text-decoration: none;
  color: orange;
}

a:hover {
  font-weight: bold;
  color: green;
}

.cover-image {
  width: 100%;
}
