body {
  font-family: Verdana;
}

.container {
  text-align: center;
}

button {
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: orange;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

a,  a:visited {
  font-weight: bold;
  text-decoration: none;
  color: orange;
}

a:hover {
  font-weight: bold;
  color: green;
}

.cover-image {
  width: 100%;
}

@media only screen and (min-width: 800px) {
    .container {
      max-width: 70%;
      margin-left: 15%;
    }
}
